/** CSS for Editing Campaigns */

.new-style-icon {
  color: rgba(66,139,202,1);
  font-size: 1.5em;
  vertical-align: middle;
}

.new-style-icon a {
   color: rgba(66,139,202,1);
}

.new-style-icon a:hover {
   color: Silver;
}


.droppable-message {
  clear: both;
}

.droppable {
  float: none;
  background: rgb(245, 245,245);
  border-radius: 4px;
}

.field-name-field-medium-varianten .file-size {
  margin-bottom: 10px;
}

.field-name-field-medium-varianten .form-text {
  width: 50%;
}

.field-name-field-medium-varianten .form-type-textfield  {
  margin-top: 20px;
}

.image-preview img {
  border: 1px #428bca solid;
}

.thumbnail.thumbnail-blue {
   padding: 0px;
   margin-right: 10px;
   border-radius: 0;
}

.field-name-field-plz-sperre .input-group {
  width: 50%;
}

.field-name-field-plz-sperre button.pull-right {
  margin-top: -35px;
}

div.error, table tr.error {
  background-color: transparent !important;
}

.alert.alert-help {
  font-weight: bold;
  background: #f5f5f5;
  border: 1px #ddd solid;
}

div.addressfield-container-inline > div.form-item {
  float: none !important;
  margin-right: 0 !important;
}

.view-intern-lk-log  .views-field-title{
  width: 30%;
}

.ac_results {
  padding: 5px;
  border: 1px solid darkblue;
  background-color: white;
  overflow: inherit;
}

.ac_results:before {
   position: absolute;
  content: 'Suchvorschl\00e4ge';
  background: #eee;
  color: black;
  margin-left: 153px;
  z-index: 300;
  margin-top: -40px;
  padding: 7px;
}

.ac_results li {
  padding: 3px 6px;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.ac_results li strong {
   text-decoration: underline;
}

.apachesolr_autocomplete.message {
  font-size: 90%;
  color: inherit;
}
.ac_over {
  background-color: #34495e;
  color: white;
}

.suche-in-msg .pagination {
     display: none;
}


html.js input.form-autocomplete#searchbegin {
  background-position: 240px 10px; 
}

.suche-in-msg  .view-content {
  width: 490px;
  margin: 0 auto;
}

.well-white h3 {
  margin-top: 0;
  border-bottom: 1px #3e5266 solid;
  padding-bottom: 5px;
}

.k-desc {
  font-size: 9px;
  max-width: 75px;
  display: inline-block;
  
  line-height: 10px;
  vertical-align: middle;
  padding-left: 5px;
}

.grid-under-image {
  padding: 5px;
}

.grid-under-image ul {
  margin-bottom: 0px;
  height: 24px;
  overflow: hidden;
}

.thumbnail.newspicture  {
  margin-left: 20px;
}


.ac_results li:first-child .apachesolr_autocomplete.message::before {
  content: 'ca. ';
  display: inline;
}


.special-tab a {
          background-color: rgba(66,139,202, 0.5) !important;
          text-transform: uppercase;
          color: White !important;
          font-size: medium;
          font-weight: bold;
 
}
        
        .special-tab a:hover, .special-tab.active a {
          background-color: rgba(66,139,202, 1) !important;
            color: White !important;
        
        }

