/** Static Pages */

/* STatische Seizen */
body.node-type-full #page {
   width: auto;
   margin-top: 0;
}

body.node-type-full .field-name-body {
  font-size: 15px;
  line-height: 24px;
}


body.node-type-full .width {
  margin-top: 0;
}

body.node-type-full .width h3 {
  margin-top: 0;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_top_20 {
  padding-top: 20px;
}

.padding_top_40 {
  padding-top: 40px;
}

.background_grey {
  background: #ecf0f1;
  
}
  
.background_white {
   background: #fff;
}

body.node-type-full .background_white .width, 
body.node-type-full .background_grey .width {
 padding-top: 20px;
  padding-bottom: 20px; 
} 


  

/** Über uns */

body.page-node-73 #block-lokalkoenig-lokalkoenig-title {
  min-height: 186px;
  background: url(/sites/all/themes/bootstrap_lk/content/ueber_uns_header.png) no-repeat right;
}  

body.page-node-73 #block-lokalkoenig-lokalkoenig-title h2 {
  margin-top: 10px;
  padding-top: 60px;
  font-size: 3em;
  font-weight: bold;
}
  
body.page-node-73 .region-header {
  padding-top: 0;
  padding-bottom: 0;
}  

body.page-node-73 .page-header  {
  padding-top: 40px;
}
  
.background-stift {
  background: url(/sites/all/themes/bootstrap_lk/content/stift.png) no-repeat left bottom;
  min-height: 177px;
}  

.background-karte {
  background: url(/sites/all/themes/bootstrap_lk/content/karte.png) no-repeat right;
  min-height: 338px;
}  
  
  
/** Contact FOrm */

form.webform-client-form {
  border: 0;
  background: none;
  padding-right: 35%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.webform-component-email,
.webform-component-textfield {
  width: 50%;
  float: left;
}

.form-email {
 display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form.webform-client-form  .required {
  border: 2px #34495e solid; 
}

form.webform-client-form input {
 border: 1px #34495e solid;  
}


form.webform-client-form  .required.error {
  border-color: Red;
}

.webform-component-textfield .form-control,
.webform-component-email .form-email  {
  margin-right: 3%;
  margin-bottom: 3%;
  width: 90%;
}

.webform-component-email .form-email {
  background-image: url(/sites/all/themes/bootstrap_lk/content/kontakt_email.png);
  background-repeat: no-repeat;
  background-position: left;
  text-indent: 40px;
}

form.webform-client-form  .form-textarea-wrapper {
  width: 95%;  
}

.webform-component-textarea {
  margin-bottom: 20px;
}

form.webform-client-form input[type=submit] {
  border: 1px solid transparent;
  background-image: url(/sites/all/themes/bootstrap_lk/content/submit.png);
  background-repeat: no-repeat;
  background-position: 8px 6px;
  text-indent: 40px;
}  

#webform-component-ihre-nachricht {
  clear: left;
}

#footer {
   padding-top: 20px;
}

body.page-node-101 #footer {
  background:#ECF0F1;
  margin-top: 0;
  padding-top: 50px;
}
