 
.search_tabs {
  border-bottom: 2px #d7dcde solid;
  height: 44px;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      float: left;
      
      a {
        display: block;
        font-weight: bold;
        padding: 10px 30px ;
      }
      
      &.active {
        a {
          border: 2px #d7dcde solid;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          border-bottom-color: white;
          background: white;
          color: #f7a800;
        }
      }
    }
  }
 }

.region-search-top .block-facetapi {
  float: right;
  position: relative;
  z-index: 5;
  height: 20px;
}

.region-search-top .block-facetapi ul li .badge {
  display: none;
}

.region-search-top .block-facetapi ul li {
  float: left;
}

.region-search-top .block-facetapi ul li a {
  background-image: url('/sites/all/themes/bootstrap_lk/design/icon-off.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  font-weight: bold;
  color: #526476;
  border: none;
}

.region-search-top .block-facetapi ul li a:hover,
.region-search-top .block-facetapi ul li a.facetapi-active {
  background-image: url('/sites/all/themes/bootstrap_lk/design/icon-on.png');
  box-shadow: none;
  border: none;
  background-color: White;
}

.action-bar {
  padding: 10px 0px;  
  text-align: center;
}
  
.action-bar a {
  display: block;
}
